@import "../../../assets/theme";

.container{
  height: 50vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
h1{
  margin: 0;
}
.backCopy{
  z-index: 0;
  font-size: calc(4vw + 4vh);
  color: #e2e7d9;
  position: relative;
}
.mainTitle{
  color: $primary_color;
  font-size: calc(2.5vw + 2vh);
  z-index: 1;
  position: relative;
  top: 23%;
  font-weight: 500;
}
p{
  max-width: 50%;
  font-size: calc(1vw + 0.5vh);
  text-align: center;
  color: $primary-color;
}
