@import "./assets/_theme";
html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
button{
  border: none;
  color: #FFFFFF;
}
.green{
  min-width: fit-content;
  margin: 5px;
  font-weight: 400;
  font-size: calc(0.5vw + 1vh);
  background-color: $primary-color;
  border-radius: 25px 0 25px 0;
}
.green:hover{
  background-color: $secondary-color;
  box-shadow: #56694d 1px 1px 10px 1px;
}
*{
  font-family: Roboto;
}
.main-title{
  font-size: calc(2.5vw + 2vh);
}
app-blog-card {
  display: block;
}
.buttons{
  display: flex;
  flex-flow: row;
  width: 35%;
  min-width: fit-content;
  padding-top: 30px;

  .main-btn{
    font-size: calc(1vw + 0.2vh);
    width: 50%;
    padding: 15px;
  }

  .icon-btn{
    color: white;
    width: 20%;
    padding: 15px;
    .material-symbols-outlined {
      font-size: calc(1vw + 1vh);
    }
  }
}
