.container{
  background-size: cover;
  background-position: center;
}
.section-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.cardsContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 80vh;
  width: 1440px;

  >*{
    width: 25%;
    margin: 20px;
  }
}
