@import "../../../assets/_theme";

.container, .main-info{
  display: flex;
  flex-direction: row;
  color: $primary_color;
}

.container{
  justify-content: space-evenly;
  max-width: 1440px;

  .content{

    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 50px;

    .main-info{
      justify-content: space-between;
      h1{
        font-size: calc(1.5vw + 2vh);
        font-weight: 500;
      }
    }

    .Description{
      font-size: calc(1vw + 0.3vh);
      min-width: 30%;
    }

    .buy-btn{
      font-size: calc(1vw + 0.2vh);
      width: 25%;
      padding: 15px;
    }
  }

  .img{
    display: flex;
    justify-content: center;
    align-content: center;
    .food-img{
      width: 90%;
      height: 90%;
    }
  }
}

.left{
  flex-direction: row-reverse;
}
