@import "../../../assets/_theme";
.container, .mainInfo{
  display: flex;
  flex-direction: row;
  color: $primary_color;
  justify-content: space-between;
}

.container{
  padding: 30px;
}
.left{
  flex-direction: row-reverse;
}
.mainInfo{
  h1{
    font-size: calc(1.5vw + 2vh);
    font-weight: 500;
  }
}

.content{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 50px;
}
.buyBtn{
  width: 25%;
  padding: 15px 30px;
  margin-top: 30px;
}

.img{
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.foodImg{
  width: 90%;
}
