@import "../../../assets/_theme";
.footer{
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-color: $primary-color;
}
.logoImg{
  height: 70px;
  width: 90px;
}
.logo{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.title , .subTitle, .website{
  color: white;
  margin: 0;
}
.title{
  font-weight: 500;
  font-size: calc(1.5vw + 1.5vh);
}
.subTitle{
  font-weight: 400;
  font-size: calc(1vw + 1vh);
}
.website{
  font-weight: 500;
  font-size: calc(1vw + 1.5vh);
  margin-top: 20px;
}
.socialAccounts{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  margin: 5px;
  width: 20px;
  height: 20px;
}
.fa{
  color: $primary-color;
  text-decoration: none;
  font-weight: 700;
}
