<div class="footer">
  <div class="logo">
    <img src="{{logoSrc}}" class="logoImg"/>
  </div>
  <div class="content">
    <h1 class="title">{{Title | uppercase}}</h1>
    <h2 class="subTitle">{{subTitle}}</h2>
    <div class="socialAccounts">
      <button>
        <a href="{{instagram}}" target="_blank">t</a>
      </button>
      <button >
        <a href="{{facebook}}" target="_blank">t</a>
      </button>
      <button >
        <a href="{{twitter}}" target="_blank">t</a>
      </button>
      <button >
        <a href="{{whatsapp}}" target="_blank">t</a>
      </button>
    </div>
  </div>
</div>
