<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
  <div class="logo">
    <img src="{{logoSrc}}" class="logoImg"/>
  </div>
  <div class="content">
    <h1 class="title">{{Title | uppercase}}</h1>
    <h2 class="subTitle">{{subTitle}}</h2>
    <div class="socialAccounts">
      <button class="social" *ngFor="let element of SocialMediaLinks">
        <a href="{{element.link}}" class="fa fa-{{element.name}}" target="_blank"></a>
      </button>
    </div>
    <h1 class="website">{{Website}}</h1>
  </div>

  <div class="triangle">
    <div class="solid-copy"></div>
    <div class="dotted-copy"></div>
  </div>

  <div class="circle">
    <div class="solid-copy"></div>
    <div class="dashed-copy"></div>
  </div>


</div>
