@import "../../../assets/_theme";
.menu{
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  height: 8%;
  display: flex;
  justify-content: center;
}
.choices{
  display: flex;
  justify-content: center;
  button{
    background-color: transparent;
    margin-left: 30px;
    a{
      text-decoration: none;
      color: $primary-color;
      font-size: large;
      font-weight: 500;
    }
  }
  button:hover{
    a{
      color: $secondary-color;
    }
  }
}
