<div class="card">
  <div class="food-img" [ngStyle]="{'background-image': 'url(' + foodImg + ')'}"></div>
  <div class="info">
    <h1 class="title">{{foodName}}</h1>
    <h4 class="type">{{type}}</h4>
    <h2 class="price">{{foodPrice | price}}</h2>
    <div class="buttons">
    <button class="green main-btn" (click)="addToCartBtn()">Add to cart</button>
    <button class="green icon-btn" (click)="favPage ? removeFromFavBtn() : addToFavBtn()" ng-click="true">
      <span class="material-symbols-outlined">
      {{favPage ? 'remove' : 'favorite'}}
      </span>
    </button>
    </div>
  </div>
</div>
