@import "../../../assets/_theme";

.card{
  max-width:1440px;
  .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    >*{
      max-width: 28%;
      margin:20px;
    }
    .intro-div{
      flex: 1;
      background-color: #F1F2F2;
      padding: 20px;

      .intro{
        color: $primary-color;
        font-size: calc(1vw + 0.5vh);
        max-height: 1000px;
      }
      .title{
        color: $primary-color;
        font-weight: 500;
        font-size: calc(1.5vw + 2vh);
      }
    }
  }
}

.green{
  font-size: calc(1vw + 0.2vh);
  width: 40%;
  padding: 15px;
}
