@import "../../../assets/_theme";

.landscape {
  display: flex;
  height: 100vh;
  min-height: fit-content;
  background-size: cover;
  background-position: center;

  .content {
    display: flex;
    flex-flow: column;
    align-content: start;
    margin: 200px 50px 50px;

    width: 20%;
    height: fit-content;
    min-width: fit-content;

    .sub-title,
    .main-title,
    .intro {
      color: $primary-color;
      margin: 5px;
    }

    .sub-title{
      font-weight: lighter;
      font-size: calc(2vw + 1.5vh)
    }

    .intro{
      max-width: 40%;
      font-size: calc(1vw + 0.5vh)
    }
  }

  .divider{
    background-color: $primary-color;
    height: 2.5px;
    width: 40%;
    margin: 15px;
  }


}
