<div class="container" [ngClass]="{'left': left, 'right' : !left}">
  <div class="content">
    <h1>
      {{Title}}
    </h1>
    <p>
      {{Intro}}
    </p>
    <div class="buttons">
      <button class="mainBtn green">READ MORE</button>
      <button class="iconBtn green">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
      </button>
    </div>
  </div>

  <div class="video">
    <div class="frame">
      <div class="shadow">
        <iframe width="500" height="430" src="https://www.youtube.com/embed/S9avbQN7Gvw"></iframe>
      </div>
    </div>
  </div>
</div>
