<div class="container" [ngClass]="{'left': left, 'right' : !left}">
  <div class="content">
    <h1>
      {{Title}}
    </h1>
    <p>
      {{Intro}}
    </p>
    <div class="buttons">
      <button class="main-btn green" [routerLink]="['articles', id]">READ MORE</button>
      <button class="icon-btn green" [routerLink]="['articles', id]">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
      </button>
    </div>
  </div>

  <div class="video">
    <div class="frame"></div>
    <iframe width="90%" height="90%" src="https://www.youtube.com/embed/S9avbQN7Gvw"></iframe>
  </div>
</div>
