@import "../../../assets/_theme";

.container{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  height: 60vh;
  max-width: 1440px;

  .content{
    width: 40%;
    color: $primary_color;
    h1{
      font-size: calc(2vw + 2vh);
      font-weight: 500;
    }

    p{
      width: 90%;
      font-size: calc(1vw + 0.5vh);
    }

    .buttons{
      width: 50%;
      .main-btn{
        width: 60%;
      }
      .icon-btn{
        width: 25%;
      }
    }
  }

  .video{
    display: flex;
    width: 40%;
    min-width: 20%;
    position: relative;

    .frame{
      border-top: solid $primary-color 5px;
      border-left: solid $primary-color 5px;
      width: 30%;
      height: 30%;
    }

    iframe{
      position: absolute;
      left: 5%;
      top: 5%;
    }
  }

}

.left{
  flex-direction: row-reverse;
}

.right{
  flex-direction: row;
}
