@import "../../../assets/_theme";
.toolbar{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  box-sizing: border-box;
  height: 10%;
  padding: 10px;
  background-color: $primary-color;
  >*{
    width: 33.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.logoImg{
  height: 90%;
}

mat-label{
  color: white;
  font-weight: 200;
}

button{
  background-color: transparent;
  font-weight: 300;
  font-size: large;
}
.badge {
  position: absolute;
  top: -12px;
  left: 25px;
  background-color: $secondary-color;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.section1{
  padding-left: 30px;
  padding-bottom: 10px;
}

.section2{
  justify-content: center;
}

.section3{
  justify-content: end;
  padding-right: 30px;
  >*{
    margin: 10px;
    position: relative;
  }
}

.iconBtn{
  height: 30%;
}

.mat-badge-content{
  background-color: #608b14;
  font-size: x-small;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  top: -35px;
  left: 20px;
}

.searchBar{
  position: relative;
  background-color: transparent;
  color: white;
  width: 50%;
  height: 80%;
  border: none;
  border-bottom: solid white 1px;
}

.searchBar:focus{
  outline: none;
  border-bottom: solid rgba(255, 255, 255, 0.69) 1px;
  .searchLabel{
    opacity: 0.2;
  }
}

.searchBar::placeholder{
  color: white;
  font-size: medium;
  opacity: 0.8;
}

.searchBar:focus::placeholder {
  opacity: 0.2;
}

.searchLabel{
  position: absolute;
  left: 17%;
}
