<div class="toolbar">

  <div class="section-1">
    <input placeholder="Search here" class="search_bar" id="search" [ngModel]="search"/>
    <label for="search" class="search-label">
      <span class="material-symbols-outlined">
      search
    </span>
    </label>
  </div>

  <div class="section-2">
    <img routerLink="/" src="{{logoSrc}}" class="logo-img"/>
  </div>

  <div class="section-3">

    <button class="register-btn">Register / Login</button>

    <button class="icon-btn" routerLink="/favorite">
      <span class="badge">{{favorite}}</span>
      <span class="material-symbols-outlined">
      favorite
      </span>
    </button>

    <button class="icon-btn" routerLink="/cart">
      <span class="badge">{{cart}}</span>
      <span class="material-symbols-outlined">
      shopping_cart
      </span>
    </button>

  </div>

</div>
