@import "../../../assets/_theme";
.toolbar{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  box-sizing: border-box;
  height: 10%;
  padding: 10px;

  background-color: $primary-color;
  >*{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 90%;
    width: 33.3%;
    min-width: fit-content;
  }
}

.section-1{
  padding-left: 30px;
  padding-bottom: 10px;
  .search_bar{
    position: relative;

    width: 50%;
    height: 80%;

    background-color: transparent;
    color: white;
    border: none;
    border-bottom: solid white 1px;
  }

  .search-label{
    position: absolute;
    left: 17%;
  }

  .search_bar::placeholder{
    color: white;
    font-size: medium;
    opacity: 0.8;
  }

  .search_bar:focus{
    outline: none;
    border-bottom: solid rgba(255, 255, 255, 0.69) 1px;
    .search-label{
      opacity: 0.2;
    }
  }

  .search_bar:focus::placeholder {
    opacity: 0.2;
  }
}

.section-2{
  justify-content: center;
  .logo-img{
    height: 95%;
  }
}

.section-3{
  justify-content: end;
  padding-right: 30px;
  >*{
    margin: 10px;
  }

  .register-btn{
    background-color: transparent;
    font-weight: 300;
    font-size: calc(0.8vw + 1vh);
  }

  .icon-btn{
    position: relative;
    background-color: transparent;
    height: 30%;
  }

  .badge {
    position: absolute;
    top: -12px;
    left: 25px;
    background-color: $secondary-color;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
  }
}
