<div class="toolbar">

  <div class="section1">
    <input placeholder="Search here" class="searchBar" id="search" [ngModel]="search"/>
    <label for="search" class="searchLabel">
      <span class="material-symbols-outlined">
      search
    </span>
    </label>
  </div>

  <div class="section2">
    <img routerLink="/" src="{{logoSrc}}" class="logoImg"/>
  </div>

  <div class="section3">

    <button class="">Register / Login</button>

    <button class="iconBtn" routerLink="/favorite">
      <span class="badge">{{favorite}}</span>
      <span class="material-symbols-outlined">
      favorite
      </span>
    </button>

    <button class="iconBtn" routerLink="/cart">
      <span class="badge">{{cart}}</span>
      <span class="material-symbols-outlined">
      shopping_cart
      </span>
    </button>

  </div>

</div>
